@use "../util/" as u;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: clamp(
    u.rem(16),
    0.9353448275862069rem + 0.27586206896551724vw,
    u.rem(18)
  );
  line-height: 1.78;
  overflow-x: hidden;
  color: var(--white);
}

main {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  // color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

textarea {
  font-family: system-ui, sans-serif;
  padding: 0;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus,
textarea:focus-visible {
  outline: 0;
  border: 0;
}

textarea:focus-visible {
  outline: 0;
}

.wrapper {
  // outline: 2px solid red;
  width: min(100% - u.rem(64), u.rem(1400));
  margin-inline: auto;
  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(40), u.rem(1400));
  }
  @include u.breakpoint-down(xsmall) {
    width: min(100% - u.rem(32), u.rem(1400));
  }
}

.bg-highlight {
  // color: var(--bg-secondary);
  margin: 0 -0.2em;
  padding: 0em 0.2em;
  border-radius: 1.8em 1.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #1f300b,
    #2d460f 4%,
    #88d42c
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.highlight {
  color: var(--green);
  font-weight: 600;
}

.design-element {
  --gradient-from: var(--green);
  --gradient-to: var(--yellow);
  --gradient: var(--gradient-from), var(--gradient-to);
  width: 600px;
  height: 600px;
  background-image: linear-gradient(to top right, var(--gradient));
  filter: blur(240px);
  border-radius: 50%;
  position: absolute;
  z-index: 0;

  @include u.breakpoint-down(midlarge) {
    width: 540px;
    height: 540px;
  }
  @include u.breakpoint-down(medium) {
    width: 480px;
    height: 480px;
  }
  @include u.breakpoint-down(small) {
    width: 420px;
    height: 420px;
    filter: blur(200px);
  }
  @include u.breakpoint-down(xsmall) {
    width: 360px;
    height: 360px;
    filter: blur(180px);
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
