@use "../util/" as u;

*,
*::before,
*::after {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  color: var(--white);
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-size: clamp(
    u.rem(16),
    0.9353448275862069rem + 0.27586206896551724vw,
    u.rem(18)
  );
  line-height: 1.78;
  background-color: var(--bg);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  // color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

textarea {
  font-family: inherit;
  padding: 0;
}

textarea:not([rows]) {
  min-height: 10em;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  border-radius: 0;
}

select:focus,
input:focus,
textarea:focus-visible {
  outline: 0;
  border: 0;
}

textarea:focus-visible {
  outline: 0;
}

.wrapper {
  width: min(100% - u.rem(64), u.rem(1400));
  margin-inline: auto;
  @include u.breakpoint-down(small) {
    width: min(100% - u.rem(40), u.rem(1400));
  }
  @include u.breakpoint-down(xsmall) {
    width: min(100% - u.rem(32), u.rem(1400));
  }
}

.text-gradient {
  background-image: linear-gradient(
    to right,
    #57bd6f,
    #6cc065,
    #8ac966,
    #88d42c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  color: var(--green);
}

.design-element {
  --gradient-from: var(--green);
  --gradient-to: var(--yellow);
  --gradient: var(--gradient-from), var(--gradient-to);
  width: 600px;
  height: 600px;
  background-image: linear-gradient(to top right, var(--gradient));
  filter: blur(240px);
  border-radius: 50%;
  position: absolute;
  z-index: 0;

  @include u.breakpoint-down(midlarge) {
    width: 540px;
    height: 540px;
  }
  @include u.breakpoint-down(medium) {
    width: 480px;
    height: 480px;
  }
  @include u.breakpoint-down(small) {
    width: 420px;
    height: 420px;
    filter: blur(200px);
  }
  @include u.breakpoint-down(xsmall) {
    width: 360px;
    height: 360px;
    filter: blur(180px);
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
