@use "../util/" as u;

.button {
  // height: 3.75rem;
  padding: 12px 22px;
  color: var(--bg);
  font-weight: 600;
  background-color: var(--green);
  border-radius: 999px;
  transition: all 300ms;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;

  @include u.breakpoint-up(large) {
    padding: 14px 30px;
  }

  &:hover {
    color: var(--white);
    background-color: var(--bg-secondary);
  }
}
