:root {
  --yellow: #ebff33;
  --green: #88d42c;
  --green-alt: #57bd6f;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #f0f0f0;
  --bg: #000000;
  --bg-secondary: #2c2c2c;

  color-scheme: dark;
  scroll-padding: 2rem;
}
