@use "../util/" as u;

.faq {
  padding: 6rem 0;
  position: relative;
  z-index: 2;

  @include u.breakpoint-down(xsmall) {
    padding: 4rem 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__h2 {
    margin-bottom: 4rem;
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }
    @include u.breakpoint-down(xsmall) {
      margin-bottom: 0;
    }
    @include u.breakpoint-down(midlarge) {
      flex-direction: column;
    }
  }
  &__contact-div {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    width: 40%;
    background-color: transparent;

    @include u.breakpoint-down(midlarge) {
      width: 100%;
      justify-content: start;
    }
    @include u.breakpoint-down(small) {
      width: 100%;
      justify-content: start;
    }
  }
  &__p {
    a {
      font-weight: 600;
      color: var(--white);
      transition: color 200ms linear;

      &:hover {
        color: var(--green);
      }
    }
    margin-bottom: 2rem;
  }
  &__contact-button {
    width: fit-content;
    padding: 16px 70px 16px;

  }
  &__accordion {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;

    @include u.breakpoint-down(small) {
      width: 100%;
    }
    @include u.breakpoint-down(midlarge) {
      width: 100%;
      order: -1;
    }
  }
  &__question-div {
    width: 100%;
    padding: 18px;
    transition: padding 300ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 300ms linear;

    @include u.breakpoint-down(small) {
      padding: 24px;
    }
  }
  &__question-div:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: u.rem(18);
    font-weight: 600;
    transition: padding 300ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;

    @include u.breakpoint-down(small) {
      padding: 10px;
    }
    @include u.breakpoint-down(xsmall) {
      min-height: 64.06px;
      padding: 0px;
    }
  }
  &__scroll-down-icon {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    transform: rotate(45deg);
    transition: all 200ms linear;
    flex-shrink: 0;
    margin-left: 12px;
    margin-right: 4px;
  }
  &__answer {
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 10px;
    line-height: 26px;
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);

    @include u.breakpoint-down(small) {
      padding: 0px;
    }

    & > div {
      overflow: hidden;
    }
  }
  &__question.active {
    padding-left: 22px;

    @include u.breakpoint-down(xsmall) {
      padding: 0px;
    }
  }
  &__question.active + &__answer {
    grid-template-rows: 1fr;
    padding: 12px 10px;

    @include u.breakpoint-down(small) {
      padding: 12px 0px;
    }
  }
  &__question.active > &__scroll-down-icon {
    transform: rotate(225deg);
  }
}
