@use "../util/" as u;

.features {
  color: var(--white);
  padding: 6rem 0;
  position: relative;

  @include u.breakpoint-down(xsmall) {
    padding: 4rem 0;
  }

  &__h2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__h2 {
    text-align: center;
    max-width: 800px;
    margin-bottom: 4rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-auto-rows: 1fr;
    gap: 2rem;
    justify-content: center;
    position: relative;
    z-index: 2;
    
    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include u.breakpoint-down(small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: u.rem(16) 32px;
    text-align: center;
    background: rgba(255, 255, 255, .03);
    // backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 36px;
    border-radius: 1.125rem;

    @include u.breakpoint-down(medium) {
      justify-content: flex-start;
      text-align: left;
    }
    @include u.breakpoint-down(small) {
     padding: 24px;
    }
  }
  .features-design-element {
    position: absolute;
    right: -20%;
    bottom: -20%;
  }
}
