@use "../util/" as u;

.footer {
  background-color: var(--bg);
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 80px 0;
    position: relative;
    z-index: 1;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      gap: 40px;
      padding: 60px 0;
    }
  }
  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__logo {
    color: var(--white);
    font-size: u.rem(36);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -3px;
  }
  &__links {
    display: flex;
    gap: 28px;
  }
  &__link {
    path {
      fill: var(--white);
    }
    &:hover {
      path {
        fill: var(--green);
      }
    }
  }
  &__icon {
    width: 28px;
    height: 28px;
    path {
      transition: fill 200ms ease-in-out;
    }
  }
  &__nav-div {
    display: flex;
    gap: 100px;

    @include u.breakpoint-down(medium) {
      gap: 40px;
    }
    @include u.breakpoint-down(small) {
      width: 100%;
      justify-content: space-between;
      gap: 3rem;
      order: -1;
    }
    @include u.breakpoint-down(xsmall) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    strong {
      margin-bottom: 0.75rem;
      font-size: 1.5rem;
    }
    a {
      width: fit-content;
      color: var(--white);
      transition: color 200ms linear;

      @include u.breakpoint-down(small) {
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
      }
    }
    a:hover {
      color: var(--green);
    }
    p {
      width: fit-content;
      @include u.breakpoint-down(small) {
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
      }
    }
  }
  .footer-design-element {
    top: 80%;
    left: 20%;
    @include u.breakpoint-down(midlarge) {
      left: calc(50% - 270px);
    }
    @include u.breakpoint-down(medium) {
      left: calc(50% - 240px);
    }
    @include u.breakpoint-down(small) {
      left: calc(50% - 210px);
    }
    @include u.breakpoint-down(xsmall) {
      top: 30%;
      left: calc(100% - 180px);
    }
  }
}
