@use "../util/" as u;

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  color: var(--white);
  border-bottom: 1px solid transparent;
  padding-block: clamp(
    1rem,
    -4.163636363636363rem + 14.545454545454545vh,
    2rem
  );
  transition: all 200ms linear;

  &.opaque {
    padding-block: clamp(
      0.25rem,
      -2.3318181818181816rem + 7.2727272727272725vh,
      0.75rem
    );
    background: rgba(0, 0, 0, 0.6);
    // backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include u.breakpoint-down(small) {
      backdrop-filter: none;
      background: var(--bg);
    }
  }
  &.opaque:hover {
    background-color: var(--bg);
  }
  @include u.breakpoint-down(small) {
    padding-block: 12px 12px;
  }

  .scroll-indicator {
    height: 2px;
    position: fixed;
    top: 0;
    inset: 0;
    z-index: 50;
    background-color: var(--green);
    transform-origin: left;
    transform: scaleX(0);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    color: var(--white);
    font-size: u.rem(28);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
    transition: color 200ms ease-in-out;


    &:hover {
        color: var(--green);
    }
  }
  &__navbar {
    display: flex;
    align-items: center;
    gap: 0;

    @include u.breakpoint-down(small) {
      gap: 24px;
    }
  }
  &__list-div {
    display: flex;
    align-items: center;
    gap: 24px;

    @include u.breakpoint-down(small) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      padding: 3rem;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition: opacity 500ms;
    }
  }
  &__list-div.open-menu {
    opacity: 1;
    user-select: auto;
    pointer-events: all;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 24px;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
      a {
        color: var(--white);
      }
    }
  }
  &__link {
    font-weight: 600;
    color: var(--white);
    transition: color 200ms ease-in-out;

    &:hover {
      color: var(--green);
    }

    @include u.breakpoint-down(small) {
      font-size: 1.5rem;
    }
  }
  &__button {
    padding: 6px 24px;

    @include u.breakpoint-down(xsmall) {
      display: none;
    }
  }
  &__menu {
    display: none;
    position: relative;
    z-index: 999;
    width: 36px;
    height: 36px;
    cursor: pointer;

    @include u.breakpoint-down(small) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__menu-button {
    width: 36px;
    height: 3px;
    background-color: transparent;
    transition: all 200ms ease-in-out;
  }
  &__menu-button::before,
  &__menu-button::after {
    content: "";
    width: 36px;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    transition: all 200ms ease-in-out;
  }
  &__menu-button::before {
    transform: translateY(-6px);
  }
  &__menu-button::after {
    transform: translateY(6px);
  }
  // &__menu.open-menu > .header__menu-button {
  //     transform: translateX(-36px);
  // }
  &__menu.open-menu > .header__menu-button::before {
    transform: rotate(45deg);
  }
  &__menu.open-menu > .header__menu-button::after {
    transform: rotate(-45deg);
  }
  .link-hidden {
    display: none;

    @include u.breakpoint-down(small) {
      display: block;
    }
  }
}
