@use "../util/" as u;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background-color: var(--bg);
  // border-bottom: 4px solid var(--bg-secondary);
  text-align: center;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__headline-wrapper {
    position: relative;
    max-width: 850px;
    margin-bottom: 2rem;
  }
  &__headline {
    font-family: "Bebas Neue";
    margin-bottom: 2rem;
    // max-width: 18ch;
    margin-inline: auto;
  }
  &__headline-description {
    font-size: clamp(
      1rem,
      -0.9363636363636363rem + 5.454545454545454vh,
      1.375rem
    );
    margin-inline: auto;

    @include u.breakpoint-down(midlarge) {
      font-size: clamp(
        u.rem(16),
        1.0224358974358974rem + 0.5128205128205128vw,
        u.rem(22)
      );
    }
  }
  &__button-wrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: fit-content;
    position: relative;

    @include u.breakpoint-down(xsmall) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__learn-more-button-wrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;

    @include u.breakpoint-down(xsmall) {
      width: 100% !important;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    // padding: 12px 22px 12px;

    @include u.breakpoint-down(small) {
      color: var(--bg);
      background-color: var(--white);
      border: none;
    }
    @include u.breakpoint-down(xsmall) {
      width: 100% !important;
    }
    &:hover {
      color: var(--bg);
    }
  }
  .hero-design-element-1 {
    position: absolute;
    top: 60%;
    left: -20%;
    @include u.breakpoint-down(small) {
      top: 60%;
      left: -30%;
    }
    @include u.breakpoint-down(xsmall) {
      top: 60%;
      left: -50%;
    }
  }
  .hero-design-element-2 {
    position: absolute;
    top: -10%;
    right: -20%;
    @include u.breakpoint-down(small) {
      top: -10%;
      right: -30%;
    }
    @include u.breakpoint-down(xsmall) {
      top: -10%;
      right: -50%;
    }
  }
}
