@use "../util/" as u;

.services {
  width: 100%;
  padding: 120px 0;
  position: relative;
  z-index: 2;

  @include u.breakpoint-down(xsmall) {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__h2 {
    max-width: 820px;
    margin-bottom: 4rem;
  }
  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    background: rgba(255, 255, 255, 0.03);
    // backdrop-filter: blur(10px);
    padding: 3rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;

    @include u.breakpoint-down(midlarge) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include u.breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include u.breakpoint-down(xsmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .card-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.03);
    // backdrop-filter: blur(10px);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;

    @include u.breakpoint-down(small) {
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 20px;

      @include u.breakpoint-down(small) {
        margin-bottom: 0;
      }
    }
    p {
      font-size: 1rem;
      @include u.breakpoint-down(small) {
        display: none;
      }
    }
  }
  .card-element:last-of-type {
    align-items: center;
    justify-content: center;
    color: var(--black);
    background-color: var(--green);
    border: 1px solid var(--green);
    cursor: pointer;
    transition: all 150ms;

    &:hover {
      color: var(--white);
      background: rgba(255, 255, 255, 0.03);
      // backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    span {
      margin-bottom: 0;
    }
  }
}
